/* ELEMENT */
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    margin: 10%;
    margin-bottom: 75%;
    border: 1px solid skyblue;
    border-radius: 50%;
}


/* CLASS */
.left_side_navbar {
    position: fixed;
    width: 10vh;
    height: 100vh;
    border: 1px solid black;
}

.left_side_navbar_button {
    margin: 17%;
    margin-bottom: 20%;
    padding: 15%;
    border-radius: 50%;
    font-size: 200%;
}