/* ELEMENT */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('../IMG/LoginBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    padding: 10px;
    width: 395px;
    border-radius: 10px;
}

input {
    padding: 7.5px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* CLASS */
.display {
    padding: 20px;
    position: absolute;
    /* text-align: center; */
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 30px;
}

