<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Lucio Store</title>
</head>
<body>
    <!-- begin - general content -->
    {% block content %}
    {% endblock content %}
    <!-- end - general content -->

    <!-- begin - home.html -->
    {% block home %}
    {% endblock home %}
    <!-- end - home.html -->
</body>
</html>