{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'CSS/homeStyles.css' %}" type="text/css">
  <script src="{% static 'JS/homeScript.js' %}"></script>
</head>
<body>
  <div class="left_side_navbar">
    {% if userdata.avatar %}
    <img src="{{ userdata.avatar.url }}" alt="user-avatar" width="75px" height="75px">
    {% else %}
    <img src="{% static 'IMG/default-profile.jpg' %}" alt="default-avatar" width="75px" height="75px">
    {% endif %}
    <button class="left_side_navbar_button">
      <i class="bi bi-house"></i>
{% comment %}       <i class="bi bi-house-fill"></i> {% endcomment %}
    </button>
    <button class="left_side_navbar_button">
      <i class="bi bi-cart"></i>
{% comment %}       <i class="bi bi-cart-fill"></i> {% endcomment %}
    </button>
    <button class="left_side_navbar_button">

    </button>
  </div>
</body>
{% endblock content %}
