{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'CSS/signupStyles.css' %}" type="text/css"/>
    <script src="{% static 'JS/signupScript.js' %}"></script>
</head>
<body>

    <form method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        <!-- Step 1 -->
        <div class="step" id="step1">
            <h1 class="title">Personal Data</h1>
            <table>
                <tr>
                    <td> {{ form.first_name }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td> {{ form.last_name }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td> {{ form.cuit }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td> {{ form.phone_number }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input" id="message_validate_phone_number"></div></td>
                </tr>
                <tr>
                    <td><button id="next1">Next Step</button></td>
                </tr>
            </table>
        </div>

        <!-- Step 2 -->
        <div class="step" id="step2">
            <h1 class="title">Account Data</h1>
            <table>
                <tr>
                    <td> {{ form.email }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td> {{ form.username }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td> {{ form.password }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td> {{ form.repeat_password }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input" id="message_validate_repeat_password"></div></td>
                </tr>
                <tr>
                    <td><button id="prev2">Previous Step</button></td>
                </tr>
                <tr>
                    <td><button type="button" id="next2">Next Step</button></td>
                </tr>
            </table>
        </div>

        <!-- Step 3 -->
        <div class="step" id="step3">
            <h1 class="title">Service Data</h1>
            <table>
                <tr>
                    <td><div class="user">Seller?</div> {{ form.is_seller }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td><div class="user">Work Line</div> {{ form.work_line }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td><div class="user">Buyer?</div> {{ form.is_buyer }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input"></div></td>
                </tr>
                <tr>
                    <td><div class="user">Interest Line</div> {{ form.interest_line }} </td>
                </tr>
                <tr>
                    <td><div class="validation_input" id="message_validate_interest_line"></div></td>
                </tr>
                <tr>
                    <td><button id="prev3">Previous Step</button></td>
                </tr>
                <tr>
                    <td><button type="submit">Sign Up</button></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
{% endblock %}